# package directories
node_modules
jspm_packages
build
dist
.env
yarn-error.log
!*fixtures/node_modules
!*fixtures/node_modules/resolve-test/node_modules
!*fixtures/node_modules/resolve-test/nested-folder/another-nested-folder/node_modules


# Serverless directories
.serverless
